table {
  width: 100%;
}

.mat-badge.mat-badge-above.mat-badge-after.mat-badge-small {
  margin-top: 10px;
}

.mat-row.cdk-row.ng-star-inserted:hover,
.mat-row.cdk-row.ng-star-inserted:active {
  cursor: pointer;
  background-color: #fafafa;
}

.mat-focus-indicator.mat-icon-button.mat-button-base.mat-primary {
  margin-bottom: 1rem;
}

.mat-card-header-text {
  margin: 0 !important;
}

.column {
  margin: 0 20px 0 20px;
  &-1 {
    width: 19%;
  }
  &-2 {
    width: 79%;
  }

  float: left;
}

p {
  display: flex;
}

.value {
  line-height: 1.7;
  margin-left: 5px;
}
