table {
  width: 100%;
}

.mat-badge.mat-badge-above.mat-badge-after.mat-badge-small {
  margin-top: 10px;
}

.mat-row.cdk-row.ng-star-inserted:hover,
.mat-row.cdk-row.ng-star-inserted:active {
  cursor: pointer;
  background-color: #fafafa;
}

.mat-focus-indicator.mat-icon-button.mat-button-base.mat-primary {
  margin-bottom: 1rem;
}

.mat-card-header-text {
  margin: 0 !important;
}
