<button type="button" mat-icon-button color="primary" routerLink="new">
  <i class="material-icons">add</i>
  Neuen Kontakt anlegen
</button>
<mat-grid-list cols="8">
  <mat-grid-tile *ngFor="let contact of contacts">
    <mat-card class="example-card" [routerLink]="['edit', contact.id]">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title
          >{{ contact.firstname }} {{ contact.surename }}</mat-card-title
        >
        <mat-card-subtitle>{{ contact.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <i class="material-icons" size="small">room</i> {{ contact.zipCode }}
        </p>
        <p>
          <i class="material-icons" size="small">phone</i> {{ contact.phone }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
