.contact-card {
  max-width: 400px;
}

.header-image {
  background-image: url("../../assets/conatct-person.png");
  background-size: cover;
}

mat-card:hover,
mat-card:active {
  cursor: pointer;
  background-color: #f4f4f4;
}
