<div class="bootstrap-wrapper">
  <mat-toolbar color="primary" id="header">
    <img
      id="logo"
      src="../assets/epitrack_transparent_logo.png"
      [routerLink]="['/']"
    />
    <h6 class="ml-3">epitrack</h6>
    <nav *ngIf="isAuthenticated$$ | async">
      <a routerLink="/diary" routerLinkActive="active">Tagebuch</a>
      <a routerLink="/contacts" routerLinkActive="active">Kontakte</a>
    </nav>
    <div style="flex: 1 1 auto"></div>
    <div class="tenant-wrapper">
      <ng-container [ngSwitch]="urlTenant">
        <h6 *ngSwitchCase="tenantsEnum.develop">Develop</h6>
        <h6 *ngSwitchCase="tenantsEnum.testhausen">
          In Kooperation mit Gesundheitsamt Testhausen
        </h6>
        <h6 *ngSwitchCase="tenantsEnum.testberg">
          Gesundheitsamt Testberg
        </h6>
      </ng-container>
    </div>
  </mat-toolbar>
  <mat-progress-bar
    mode="query"
    *ngIf="progressBarActive$$ | async"
  ></mat-progress-bar>
  <div style="height: 4px" *ngIf="!(progressBarActive$$ | async)"></div>

  <div class="container-fluid">
    <ng-container *ngIf="isTenantAdminRoute">
      <div class="row justify-content-center">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isTenantAdminRoute">
      <div class="row">
        <div class="col-md-6 offset-xl-3">
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-6 col-xl-3 align-self-center text-center">
          <img src="../../assets/postit.png" id="post-it" />
          <div id="post-it-text-container">
            <p id="post-it-text-header">
              Wussten Sie schon?
            </p>
            <p id="post-it-text">
              Durch die Verwendung dieser Plattform helfen Sie mit, wichtige
              Ressourcen für Notfälle freizuhalten.
            </p>
            <a
              mat-stroked-button
              href="https://www.youtube.com/watch?v=z__mJRP8O0w&feature=youtu.be"
              target="_blank"
              style="float: right;"
              >Zeig mir mehr</a
            >
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>
