.header-image {
  background-image: url("../../assets/epitrack_transparent_logo.png");
  background-size: cover;
  background-position: center;
}

#post-it-wrapper,
#note {
  position: absolute;
  right: 8vw;
  height: 30rem;
  top: 20vh;
}

#post-it {
  position: relative;
  height: 100%;
}

#note {
  width: 20rem;
}
