<!-- <form>
  <mat-card class="card form__card--animated">

    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Corona-Kontaktperson anlegen</mat-card-title>
      <mat-card-subtitle>Pflichtfelder *</mat-card-subtitle>
    </mat-card-header>


<mat-grid-list cols="1" rowHeight="80px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      <!--{{tile.text}}-->
<!-- <mat-form-field class="example-full-width">
      <mat-label>Vorname</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nachname</mat-label>
      <input matInput>
    </mat-form-field>

  </mat-grid-tile>
</mat-grid-list>

    <mat-card-content> -->

<!--
  <mat-form-field class="example-full-width">
    <mat-label>Company (disabled)</mat-label>
    <input matInput disabled value="Google">
  </mat-form-field>
  /-->

<!--
  <table class="example-full-width" cellspacing="5"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Vorname</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Nachname</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>
/-->

<!-- <mat-grid-list cols="1" rowHeight="80px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    <mat-form-field class="example-full-width">
      <mat-label>Straße</mat-label>
      <input matInput placeholder="Ex. 100 Main St">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Hausnummer</mat-label>
      <input matInput>
    </mat-form-field>

  </mat-grid-tile>
</mat-grid-list> -->

<!-- alte straße - kann gelöscht werden

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Straße</mat-label>
      <input matInput placeholder="Ex. 100 Main St">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Hausnummer</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  -->

<!-- Emailadresse abfragen und ggf. validieren

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
-->

<!-- <table class="example-full-width" cellspacing=""><tr>


          <td><mat-form-field class="example-full-width">
            <mat-label>PLZ</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Beispiel: 68305" value="">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>


          <td><mat-form-field class="example-full-width">
            <mat-label>Stadt</mat-label>
            <input matInput placeholder="Beispiel: Mannheim">
          </mat-form-field></td>
        </tr></table>


        <p>
            <mat-form-field class="example-full-width">
              <mat-label>E-Mail</mat-label>
              <input matInput placeholder="max@mustermann.de">
            </mat-form-field>

          </p>

      </mat-card-content>
      <mat-card-actions>
      <button
        type="submit"
        mat-raised-button
        color="primary"
      >
        Kontaktperson speichern
      </button>
      <button type="button" mat-raised-button color="secondary">
        Abbrechen
      </button>
    </mat-card-actions>

  </mat-card>

</form>
 -->
-->
