$mat-primary: (
  50: #54ecff,
  100: #3be9ff,
  200: #21e6ff,
  300: #08e3ff,
  400: #00d3ed,
  500: #00bcd4,
  600: #00a5ba,
  700: #008fa1,
  800: #007887,
  900: #00626e,
  A100: #6eefff,
  A200: #87f1ff,
  A400: #a1f4ff,
  A700: #004b54,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-accent: (
  50: #6d5200,
  100: #866500,
  200: #a07800,
  300: #b98b00,
  400: #d39e00,
  500: #ecb100,
  600: #ffc720,
  700: #ffce3a,
  800: #ffd453,
  900: #ffda6d,
  A100: #ffc720,
  A200: #ffc107,
  A400: #ecb100,
  A700: #ffe186,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
