/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

// always include only once per project
@include mat-core();

// import our custom theme
@import "./assets/app-theme.scss";

/// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-primary);
$app-accent: mat-palette($mat-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

@font-face {
  font-family: GlacialIndifference;
  src: url("./assets/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: OpenSans;
  src: url("./assets/open-sans/OpenSans-Regular.ttf") format("opentype");
}

body,
html {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
}

* {
  font-family: GlacialIndifference, OpenSans;
}

.form__card--small {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.form__card--animated {
  animation-name: fade-card;
  animation-duration: 0.25s;
}

.form__input--full-width {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.radio-button__group--horizontal {
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}

.radio-button__group--vertical {
  display: flex;
  flex-direction: column;
  .mat-radio-button ~ .mat-radio-button {
    margin-top: 16px;
  }
}

@keyframes fade-card {
  from {
    opacity: 0;
    left: 40%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.background-red {
  background-color: rgb(153, 50, 50) !important;
  color: beige;
}
.background-green {
  background-color: rgb(29, 102, 29) !important;
  color: beige;
}

.background-orange {
  background-color: orange !important;
}

.dark-primary-color {
  background: #0097a7;
}
.default-primary-color {
  background: #00bcd4;
}
.light-primary-color {
  background: #b2ebf2;
}
.text-primary-color {
  color: #ffffff;
}
.accent-color {
  background: #ffc107;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #bdbdbd;
}
