/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
}

.form__card--small {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.form__card--animated {
  animation-name: fade-card;
  animation-duration: 0.25s;
}

.form__input--full-width {
  width: 100%;
}

@keyframes fade-card {
  from {
    opacity: 0;
    left: 40%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
